* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0c0c0c;
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
}

main {
    padding: 3rem 5rem 3rem 5rem;
}

a {
    color: inherit;
    text-decoration: none;
}

li, la {
    list-style: none;
}

/* index styles */

.navbar-container {
	display: flex;
    flex-direction: row;
	align-items: center;
    justify-content: space-between;

    padding: 0.8rem 2rem 0.8rem 2rem;

	font-size: 17px;
	border: 1.5px solid rgb(255, 255, 255);
    border-radius: 30px;
}

.navbar-container img {
    height: 40px;
    width: 40px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 80%;
    margin: auto;
}

main:has(.aside--open) {
    --width: 0;
}

.aside_menu {
    position: absolute;
    top: 12%;
    left: 0;
    right: 0;
    bottom: var(--width, 100%);

    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1.5rem;

	border: 1.5px solid rgb(255, 255, 255);
    background-color: black;
    border-radius: 30px;

    font-size: 17px;
    text-align: center;

    overflow: hidden;
    transition: 400ms;
}

.aside_menu a:hover {
    font-weight: bold;
    transition: 400ms;
}

.content_title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content_title h3 {
    background-color: white;
    border: 1.5px solid white;
    border-radius: 15px;
    color: black;

    padding: 0.5rem 3rem 0.5rem 3rem;
}

.content_title h3:hover {
    background-color:  #0c0c0c;
    border: 1.5px solid white;
    border-radius: 15px;
    color: white;
    transition: 400ms;

    padding: 0.5rem 3rem 0.5rem 3rem;
}

.content_text {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.gallery img {
    max-width: 300px;
    margin: auto;

}

.contact {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    
    padding: 5rem 0 5rem 0;
    justify-content: center;
    background: black center url("/fondo_bw.jpg") no-repeat;
    background-size: cover;

    border-radius: 30px;
    border: 1.5px solid rgb(255, 255, 255);
}

.contact p {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}